
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ruslan+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: "Ruslan Display", sans-serif;
    color: #F33829;
    font-size: 5rem;
}

h2{
    font-family: "Ruslan Display", sans-serif;
    color: #F33829;
    font-size: 3rem;
}

p{
    font-family: "Poppins", sans-serif;
}

ul{
    font-family: "Poppins", sans-serif;
}

main{
    width: 100%;

}

/*-----------header-------------------*/
header{
    background-color: black;
}

.navbar{
    list-style: none;
}

.navbar li a{
    color: aliceblue;
    text-decoration: none;
}

.isotipoHeader{
    width: 9.375rem;
    height: 3.125rem;
}

.iconNavbar{
    width: 4rem;
    height: 2.5rem;
}

/*  ---------------banner------------------------- */
.bannerPagina{
    position: relative;
    margin-bottom: 3.125rem;
}

.textBanner{
    position: absolute;
    top: 15%;
    left: 30%;
    width: 70%;
    height: 80%;
    padding: 1.25rem;
}
.textBannerTitle{
    font-size: 8.75rem;
    padding-right: 100px;
    margin-bottom: 90px;
}

.textBannerFrase{
    padding-right: 12.5rem;
    margin: 5rem 0rem 2.5rem 0rem;
    color: #FFF;
}
.btnPagina{
    padding: .9375rem 3.125rem;
    font-size: 1em;
    color: #FFF;
    background-color: #F33829;
    border: 0px solid red;
    border-radius: .3125rem;
    transition: background-color 0.3s;
    margin: .625rem 0px;
}

.btnPagina:hover{
    background-color: #0EB9CB;
}

    /*    .--------------Cultura telar -------    */
.bannerCulturaTelar{
    width: 90rem;
    height: 61.5625rem;
}

.telarCulrural{
    width: 28.875rem;
    height: 36.6875rem;
}

    /*
    ----------------telares
    */
.bannerTelares{
    width: 90rem;
    height: 84.625rem;
}

.telares{
    width: 23.875rem;
    height: 45.5rem;
}

.backgroundColorTelares{
    background-color: #1E1E1E;
}

.whiteLista{
    color: aliceblue;
}

.tituloLista{
    color: #027381;
}

/*---------------dónde comprar----------*/
.listaTellar{
    width: 11.5rem;
    height: 12.125rem;
}

/*----------------visitanos-------------*/
.collageBanner{
    width: 90rem;
    height: 43.375rem;
}
.isotipoBanner{
    width: 40rem;
    height: 15rem;
}

.maestroTejedor{
    width: 26.4375rem;
    height: 33.5625rem;
}

.visitasGuiadas{
    background-color: #0EB9CB;
}

/*------------footer-------------*/

.icoMedioPago{
    width: 6.5rem;
    height: 3rem;
}

.icoRedSocial{
    width: 3rem;
    height: 2rem;
}

.icoCopyrigth{
    width: 1.5rem;
    height: 1.5rem;
}

footer{
    background-color: black;
    color: aliceblue;
}

.isotipoFooter{
    width: 22rem;
    height: 8rem;
}




/****Página HOME****/

.bannerHome {
    width: 100%;
}

.isologoBody {
    width: 60%;
    height: 80%;
}

.telarRomboSi {
    width: 100%;
    height: 100%;
}

.telarRomboSd {
    width: 80%;
    height: 100%;
}

.telarRomboMi1 {
    width: 40%;
    height: 100%;
}

.telarRomboMi2 {
    width: 90%;
    height: 70%;
}

.telarRomboMi3 {
    width: 40%;
    height: 100%;
}

.telarRomboMd {
    width: 70%;
    height: 100%;
}

.telarRomboIi {
    width: 92.5%;
    height: 100%;
}

.telarRomboId {
    width: 80%;
    height: 100%;
}

.gridTelares {
    display: grid;
    grid-template-columns: 1fr 1fr repeat(4, 2fr) 1fr;
    grid-template-rows: 5rem 5rem 7.5rem repeat(12, 8rem);
    /*gap: 10px; */
    margin: 20;

}
.gridImagen1 {
    grid-area: 1 / 1 / 4 / 5;
    display: flex;
    justify-content: center;
    align-items: center;

}

.gridImagen2 {
    grid-area: 1 / 5 / 3 / 8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridImagen3 {
    grid-area: 3 / 5 / 4 / 8;
    display: flex;
    justify-content: right;
    align-items: center;
}

.gridImagen4 {
    grid-area: 4 / 7 / 14 / 8;
    display: flex;
    justify-content: right;
    align-items: center ;
}

.gridImagen5 {
    grid-area: 14 / 6 / 16 / 8;
    display: flex;
    justify-content: right;
    align-items: center ;
}

.gridImagen6 {
    grid-area: 14 / 1 / 15 / 6;
    display: flex;
    justify-content: right;
    align-items: center;
}

.gridImagen7 {
    grid-area: 12 / 1 / 14 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridImagen8 {
    grid-area: 7 / 1 / 12 / 3;
    display: flex;
    align-items: center;
}

.gridImagen9 {
    grid-area: 4 / 1 / 7 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridTitle1{
    grid-area: 4 / 3 / 10 / 4;
    display: flex;
    align-items: start;
    padding-top: 50px;
}
.textOrigen{
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    font-family: "Poppins", sans-serif;
    font-size: 5rem;
    font-weight: bold;
    transform: rotate(180deg);
    color: #726E6E;
}
.gridTextHistory1{
    grid-area: 4 / 4 / 10 / 7;
    padding-top: 6.25rem;
}
.gridTitle2{
    grid-area: 10 / 3 / 11 / 7;
    display: flex;
    justify-content: start;
    align-items: center;
}
.titleSpan{
    font-size: 5rem;
    color: #726E6E;
}
.titleMaestro{
    font-size: 5rem;
    padding: 1.875rem;
}
.gridTextHistory2{
    grid-area: 11 / 4 / 14 / 7;
}