@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ruslan+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Ruslan Display", sans-serif;
    color: #F33829;
    font-size: 5rem;
}

h2 {
    font-family: "Ruslan Display", sans-serif;
    color: #F33829;
    font-size: 3rem;
}

p {
    font-family: "Poppins", sans-serif;
}

ul {
    font-family: "Poppins", sans-serif;
}

main {
    width: 100%;
}

/*-----------header-------------------*/

.isotipoHeader {
    width: 9.375rem;
    height: 3.125rem;
}

.iconNavbar {
    margin-top: .9375rem;
    width: 3.125rem;
    height: 2.1875rem;
    padding: .3125rem;
}

/*  ---------------banner------------------------- */
.bannerPagina {
    position: relative;
    margin-bottom: 4.6875rem;
}

.textBanner {
    position: absolute;
    top: 5%;
    left: 40%;
    width: 60%;
    padding: 1.25rem;
}

.textBannerTitle {
    font-size: 6.875rem;
    padding-right: 6.25rem;
    margin-bottom: 4.375rem;
}

.textBannerFrase {
    padding-right: 6.25rem;
    margin-bottom: 2.5rem;
    color: #FFF;
}

.btnPagina {
    padding: .9375rem 3.125rem;
    font-size: 1em;
    color: #FFF;
    background-color: #F33829;
    border: 0px solid red;
    border-radius: .3125rem;
    transition: background-color 0.3s;
}

.btnPagina:hover {
    background-color: #0EB9CB;
}


/*------------banner pagina cultura telar-----------*/
/*--------------------------------------------------*/

.bannerPaginaCulturaTelar {
    background-color: #F33829;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.bannerCulturaTelar {
    position: relative;
    width: 100%;
    height: 100%;
}

.imgBannerCulturaTelar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textCulturaTelar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

@media (max-width: 768px) {
    .textCulturaTelar {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .textCulturaTelar {
        font-size: 1.5rem;
    }
}

/*------------contenido pagina cultura telares-----------------*/
/*--------------------------------------------------*/
.imgTelarCultural {
    width: 110%;
}

.gridCulturaTelar {
    display: grid;
    grid-template-columns: 1.5fr 4fr;
    grid-template-rows: auto auto auto;
    gap: 2rem;
    padding: 1rem;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
}

.imgtTelarCulto1 {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgtTelarCulto2 {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgtTelarCulto3 {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridTextCultural {
    grid-area: 1 / 2 / 4 / 3;
    padding-left: 4.375rem;
    padding-right: 3.125rem;
}

.titleHistoriaCultural {
    color: #027381;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
    font-size: 3.125rem;
    padding-right: 2.5rem;
}

.historyCultural11 {
    display: none;
}

.historyCultural12 {
    display: none;
}

.historyCultural13 {
    display: none;
}

@media (max-width: 1200px) {
    .titleHistoriaCultural {
        font-size: 40px;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }
}

@media (max-width: 900px) {
    .titleHistoriaCultural {
        font-size: 30px;
        margin-top: 1.875rem;
        margin-bottom: 1.875rem;
        background-color: #F33829;
    }

    .reseñaCultural {
        font-size: .875rem;
    }
}

@media (max-width: 768px) {
    .imgTelarCultural {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .imgtTelarCulto1 {
        display: none;
    }

    .imgtTelarCulto2 {
        display: none;
    }

    .imgtTelarCulto3 {
        display: none;
    }

    .gridTextCultural {
        display: none;
    }

    .gridCulturaTelar {
        display: none;
    }


    .gridCulturaTelar {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        gap: 1rem;
        padding: 1rem;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
    }

    .imgtTelarCulto1 {
        grid-area: 1 / 1 / 2/ 2;
        display: flex;
    }

    .historyCultural11 {
        display: block;
        grid-area: 2 / 1 / 3/ 2;
    }

    .imgtTelarCulto2 {
        grid-area: 3 / 1 / 4/ 2;
        display: flex;
    }

    .historyCultural12 {
        display: block;
        grid-area: 4/ 1 / 5/ 2;
    }

    .imgtTelarCulto2 {
        grid-area: 5 / 1 / 6/ 2;
        display: flex;
    }

    .historyCultural13 {
        display: block;
        grid-area: 6/ 1/ 7/ 2;
    }

    .titleHistoriaCultural {
        font-size: 1.5625rem;
    }

    .reseñaCultural {
        font-size: .75rem;
    }
}


/*------------banner pagina telares-----------------*/
/*--------------------------------------------------*/
.bodyPaginaTelaresProductos {
    background-color: #1E1E1E;
}

.textTelar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: antiquewhite;
    font-size: 120px;
    text-align: center;
    text-shadow: 2px 2px 5px black;

}

@media (max-width: 768px) {
    .textTelar {
        font-size: 3.75rem;
    }
}

@media (max-width: 480px) {
    .textTelar {
        font-size: 2.1875rem;
    }
}


/*
    ----------------telares
    */


.telares {
    width: 23.875rem;
    height: 45.5rem;
}

.backgroundColorTelares {
    background-color: #1E1E1E;
}

.whiteLista {
    color: aliceblue;
}

.tituloLista {
    color: #027381;
}

/*------------Contenido de la pagina telares-----------------*/
/*--------------------------------------------------*/
.imgTelarHombreandino {
    width: 80%;
}

.imgIsotipoAgua {
    width: 60%;
    height: 50%;
}

.describeTelar11,
.describeTelar12,
.describeTelar13 {
    display: none;
}

.titleProductTelar {
    font-size: 4.375rem;
    color: #027381;
}

.textSignificado {
    font-size: 3.125rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

.btnComprarProducto {
    padding: 0px 55px;
    font-size: 1.5em;
    background-color: #F33829;
    border-radius: .9375rem;
    color: aliceblue;
    border-style: none;
    margin-top: 20px;
}

.gridProductoTelar {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: repeat(9, auto);
    gap: 2rem;
    margin-top: 200px;
    margin-bottom: 3.125rem;
}

.imgTelares1 {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    justify-content: end;
    align-items: center;
}

.isotipoAgua1 {
    grid-area: 2 / 1 / 4 / 3;
    display: flex;
    background-color: #333333;
    justify-content: end;
    padding: 3.125rem;
}

.detallesProducto1 {
    border-left-style: dashed;
    border-color: #F33829;
    border-width: 4px;
    color: aliceblue;
    grid-area: 1/ 2 / 3 / 3;
    display: block;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
}

.significadoProducto1 {
    grid-area: 3 / 1 / 4 / 3;
    display: block;
    padding-left: 5.625rem;
    padding-right: 3.125rem;
    color: aliceblue;
    margin-bottom: 3.125rem;
}

.imgTelares2 {
    grid-area: 4 / 1 / 6 / 2;
    display: flex;
    justify-content: end;
    align-items: center;
}

.isotipoAgua2 {
    grid-area: 5 / 1 / 7 / 3;
    display: flex;
    background-color: #333333;
    justify-content: end;
    padding: 3.125rem;
}

.detallesProducto2 {
    border-left-style: dashed;
    border-color: #F33829;
    border-width: 4px;
    color: aliceblue;
    grid-area: 4/ 2 / 6 / 3;
    display: block;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
}

.significadoProducto2 {
    grid-area: 6 / 1 / 7 / 3;
    display: block;
    padding-left: 5.625rem;
    padding-right: 3.125rem;
    color: aliceblue;
    margin-bottom: 3.125rem;
}


.imgTelares3 {
    grid-area: 7 / 1 / 9 / 2;
    display: flex;
    justify-content: end;
    align-items: center;
}

.isotipoAgua3 {
    grid-area: 8 / 1 / 10 / 3;
    display: flex;
    background-color: #333333;
    justify-content: end;
    padding: 3.125rem;
}

.detallesProducto3 {
    border-left-style: dashed;
    border-color: #F33829;
    border-width: 4px;
    color: aliceblue;
    grid-area: 7/ 2 / 9 / 3;
    display: block;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
}

.significadoProducto3 {
    grid-area: 9 / 1 / 10 / 3;
    display: block;
    padding-left: 5.625rem;
    padding-right: 3.125rem;
    color: aliceblue;
    margin-bottom: 3.125rem;
}

@media (max-width: 1200px) {

    .titleProductTelar {
        font-size: 2.8125rem;
    }

    .btnComprarProducto {
        padding: 12px 40px;
        font-size: 1.1em;
    }

}

@media (max-width: 1000px) {

    .especicaTelar {
        font-size: 20px;
    }

    .textEspecificoTelar {
        font-size: 14px;
    }

    .titleProductTelar {
        font-size: 30px;
    }

    .listaEspecificaTelar {
        font-size: 14px;
    }

    .btnComprarProducto {
        padding: 10px 30px;
        font-size: 1em;
    }

}

@media (max-width: 900px) {

    .gridProductoTelar {
        margin-top: 6.25rem;
    }

    .detallesProducto1 {
        padding-left: 1.5625rem;
        padding-right: 1.5625rem;
    }

    .detallesProducto2 {
        padding-left: 1.5625rem;
        padding-right: 1.5625rem;
    }

    .detallesProducto3 {
        padding-left: 1.5625rem;
        padding-right: 1.5625rem;
    }

    .significadoProducto1,
    .significadoProducto2,
    .significadoProducto3 {
        padding-left: 3.125rem;
        padding-right: 1.5625rem;
        margin-bottom: 1.5625rem;
    }

    .especicaTelar {
        font-size: 15px;
    }

    .textEspecificoTelar {
        font-size: 11px;
    }

    .titleProductTelar {
        font-size: 30px;
    }

    .listaEspecificaTelar {
        font-size: 11px;
    }

    .btnComprarProducto {
        padding: 10px 30px;
        font-size: 0.9em;
    }

}

@media (max-width: 720px) {

    .describeTelar1,
    .describeTelar2,
    .describeTelar3 {
        display: none;
    }

    .describeTelar11,
    .describeTelar12,
    .describeTelar13 {
        display: block;
    }

    .btnComprarProducto {
        padding: 9px 30px;
        font-size: 0.9em;
        border-radius: .625rem;
        margin-top: 10px;
    }

    .isotipoAgua1,
    .isotipoAgua2,
    .isotipoAgua3 {
        background-color: #726E6E;
    }
}

@media (max-width: 600px) {

    .gridProductoTelar {
        margin-top: 3.125rem;
    }

    .significadoProducto1,
    .significadoProducto2,
    .significadoProducto3 {
        padding-left: 1.5625rem;
        padding-right: 1.5625rem;
        margin-bottom: 1.5625rem;
    }

    .especicaTelar {
        font-size: 13px;
    }

    .textEspecificoTelar {
        font-size: 9px;
    }

    .titleProductTelar {
        font-size: 1.25rem;
    }

    .listaEspecificaTelar {
        font-size: 9px;
    }

    .btnComprarProducto {
        padding: 7px 30px;
        font-size: 0.8em;
    }

    .leerMasTelares {
        font-size: .875rem;
    }

}

/*---------------dónde comprar----------*/
.listaTellar {
    width: 11.5rem;
    height: 12.125rem;
}


/*------------banner pagina telares-----------------*/
/*--------------------------------------------------*/

.imgIsotipoVisita {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 37.5rem;
    height: 15.625rem;

}

@media (max-width: 768px) {
    .imgIsotipoVisita {
        width: 25rem;
        height: 9.375rem;
    }
}

@media (max-width: 480px) {
    .imgIsotipoVisita {
        width: 18.75rem;
        height: 5.625rem;
    }
}



/*----------------visitanos-------------*/

.maestroTejedor {
    width: 26.4375rem;
    height: 33.5625rem;
}

.visitasGuiadas {
    background-color: #0EB9CB;
}

/*------------footer-------------*/

.icoMedioPago {
    width: 50px;
    height: 1.875rem;
}

.icoRedSocial {
    width: 25px;
    height: 25px;
}

.icoCopyrigth {
    width: 1.5rem;
    height: 1.5rem;
}

footer {
    background-color: black;
    color: aliceblue;
    padding: 1.25rem 0;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1450px;
    margin: 0 auto;
    padding: 20px;
}

.isotipoFooter {
    width: 18.75rem;
    height: 5.625rem;
}

.infoStructure {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
    flex-wrap: wrap;
}

.infoSection {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.infoSection h3 {
    margin-bottom: 10px;
}

.infoSection ul {
    list-style: none;
    padding: 0;
}

.infoSection ul li {
    margin-bottom: 5px;
}

.infoSection ul li a {
    color: #fff;
    text-decoration: none;
}

.socialNetPayments {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    flex-wrap: wrap;
}

.socialNet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    margin-bottom: 10px;

}

.socialNet a img {
    margin: 0 10px;
}

.payments {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
}

.payments img {
    margin: .3125rem;
    margin-bottom: 1.25rem;
}

.footerLegal {
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .infoStructure {
        flex-direction: column;
        align-items: center;
    }

    .socialNetPayments {
        flex-direction: column;
    }

    .socialNet,
    .payments {
        margin-bottom: 20px;
    }
}



/****Página HOME****/

.bannerHome {
    width: 100%;
}

.isologoBody {
    width: 60%;
    height: 80%;
}

.telarRomboSi {
    width: 100%;
    height: 100%;
}

.telarRomboSd {
    width: 80%;
    height: 100%;
}

.telarRomboMi1 {
    width: 40%;
    height: 100%;
}

.telarRomboMi2 {
    width: 90%;
    height: 70%;
}

.telarRomboMi3 {
    width: 40%;
    height: 100%;
}

.telarRomboMd {
    width: 70%;
    height: 100%;
}

.telarRomboIi {
    width: 92.5%;
    height: 100%;
}

.telarRomboId {
    width: 80%;
    height: 100%;
}

.gridTelares {
    display: grid;
    grid-template-columns: repeat(3, 1fr) repeat(2, 4fr) 1fr 1fr;
    grid-template-rows: 5rem 5rem 7.5rem repeat(12, 8rem);
    /*gap: 10px; */
    margin: 20;

}

.gridImagen1 {
    grid-area: 1 / 1 / 4 / 5;
    display: flex;
    justify-content: center;
    align-items: center;

}

.gridImagen2 {
    grid-area: 1 / 5 / 3 / 8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridImagen3 {
    grid-area: 3 / 5 / 4 / 8;
    display: flex;
    justify-content: right;
    align-items: center;
}

.gridImagen4 {
    grid-area: 4 / 7 / 14 / 8;
    display: flex;
    justify-content: right;
    align-items: center;
}

.gridImagen5 {
    grid-area: 14 / 6 / 16 / 8;
    display: flex;
    justify-content: right;
    align-items: center;
}

.gridImagen6 {
    grid-area: 14 / 1 / 15 / 6;
    display: flex;
    justify-content: right;
    align-items: center;
}

.gridImagen7 {
    grid-area: 12 / 1 / 14 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridImagen8 {
    grid-area: 7 / 1 / 12 / 3;
    display: flex;
    align-items: center;
}

.gridImagen9 {
    grid-area: 4 / 1 / 7 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridTitle1 {
    grid-area: 4 / 3 / 10 / 4;
    display: flex;
    align-items: start;
    padding-top: 50px;
}

.textOrigen {
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    font-family: "Poppins", sans-serif;
    font-size: 5rem;
    font-weight: bold;
    transform: rotate(180deg);
    color: #726E6E;
}

.gridTextHistory1 {
    grid-area: 4 / 4 / 10 / 7;
    padding-top: 3.125rem;
    padding-right: 3.75rem;
}

.gridTitle2 {
    grid-area: 10 / 3 / 11 / 7;
    display: flex;
    justify-content: start;
    align-items: center;
}

.titleSpan {
    font-size: 5rem;
    color: #726E6E;
}

.titleMaestro {
    font-size: 5rem;
    padding: 1.875rem;
}

.gridTextHistory2 {
    grid-area: 11 / 4 / 14 / 7;
    padding-right: 3.75rem;
}

@media (max-width:1500px) {
    .textBannerTitle {
        font-size: 6.25rem;
    }

    .textBannerFrase {
        font-size: 0.90em;
    }
}

@media (max-width:1400px) {
    .textBannerTitle {
        font-size: 93px;
    }

    .textBannerFrase {
        font-size: 0.85em;
    }
}

@media (max-width:1300px) {
    .textBannerTitle {
        font-size: 80px;
        margin-bottom: 55px;
    }

    .textBannerFrase {
        font-size: 0.80em;
    }
}

@media (max-width:1200px) {
    .textBannerTitle {
        font-size: 70px;
        margin-bottom: 40px;
    }

    .textBannerFrase {
        font-size: 0.75em;
    }

    .btnPagina {
        padding: 10px 45px;
        font-size: 1em;
    }
}

@media (max-width:1100px) {
    .textBannerTitle {
        font-size: 65px;
    }

    .textBannerFrase {
        font-size: 0.75em;
        margin-bottom: 30px;
    }

    .btnPagina {
        padding: .8125rem 45px;
        font-size: 1em;
    }
}

@media (max-width:1000px) {
    .textBannerTitle {
        font-size: 55px;
        margin-bottom: 40px;
    }

    .textBannerFrase {
        font-size: 0.75em;
        margin-bottom: 35px;
    }

    .btnPagina {
        padding: 10px 40px;
        font-size: 0.95em;
    }
}

@media (max-width:950px) {
    .textBanner {
        background-color: rgba(37, 31, 31, 0.5);
        left: 35%;
        width: 65%;
        padding: 1.25rem;
    }

    .textBannerTitle {
        font-size: 50px;
        margin-bottom: 5rem;
    }

    .textBannerFrase {
        font-size: 0.80em;
        padding-right: 4.0625rem;
    }

    .btnPagina {
        padding: 10px 40px;
        font-size: 0.90em;
    }
}

@media (max-width:900px) {
    .textBanner {
        left: 35%;
        width: 65%;
        padding: 1.25rem;
    }

    .textBannerTitle {
        font-size: 40px;
        margin-bottom: 3.75rem;
    }

    .textBannerFrase {
        font-size: 0.80em;
        padding-right: 4.0625rem;
    }

    .btnPagina {
        padding: 8px 30px;
        font-size: 0.80em;
    }
}

@media (max-width:800px) {
    .textBanner {
        left: 30%;
        width: 70%;
        padding: 1.25rem;
    }

    .textBannerTitle {
        font-size: 30px;
        margin-bottom: 3.75rem;
    }

    .textBannerFrase {
        font-size: 0.70em;
        padding-right: 2.8125rem;
    }
}

@media (max-width:700px) {
    .textBanner {
        left: 25%;
        width: 75%;
    }

    .textBannerTitle {
        font-size: 35px;
        margin-bottom: 1.5625rem;
    }

    .textBannerFrase {
        font-size: 0.70em;
        padding-right: 1.25rem;
        margin-bottom: 25px;
    }
}

@media (max-width:600px) {
    .textBannerTitle {
        font-size: 30px;
        margin-bottom: 35px;
    }

    .textBannerFrase {
        font-size: 0.50em;
        padding-right: 1.25rem;
        margin-bottom: 15px;
    }
}

@media (max-width:550px) {
    .textBannerTitle {
        font-size: 25px;
        margin-bottom: 30px;
    }
}

@media (max-width:500px) {
    .textBannerTitle {
        font-size: 20px;
        margin-bottom: 15px;
    }
}

@media (max-width:450px) {
    .textBanner {
        top: 0px;
        left: 20%;
        width: 85%;
    }

    .textBannerTitle {
        font-size: 32px;
        margin-bottom: 10px;
    }

    .textBannerFrase {
        font-size: 0.50em;
        margin-bottom: 30px;
    }
}

@media (max-width:400px) {
    .textBannerTitle {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .textBannerFrase {
        font-size: 0.50em;
        margin-bottom: 10px;
    }
}

@media (max-width:350px) {
    .textBannerTitle {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .textBannerFrase {
        font-size: 0.50em;
        margin-bottom: 10px;
    }
}

/*----------------pagina donde comprar--------------*/
/*-------------------------------------------------*/
.imgIsotipoCompra{
    width: 20%;
    margin-top: 6.25rem ;
    margin-left: 6.25rem;
}
.titleDondeComprar{
    margin-left: 6.25rem;
    font-size: 40px;
}

.gridDondeComprar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    column-gap: 6.25rem;
    row-gap: 3.125rem;
    padding: 3.125rem;
    margin: 1.25rem;

}

.contactoCompra {
    grid-area: 1 / 1 / 2 /2;
    display: block;

}

.entregaCompra {
    grid-area: 2 / 1 / 3 /2;
    display: block;
}

.pagoCompra {
    grid-area: 3 / 1 / 4 / 2;
    display: block;
}

.resumenCompra {
    grid-area: 1 / 2 / 4 / 3;
    display: block;
}

.contenedorCard {
    background-color: #969696;
    padding-top: .9375rem;
    padding-bottom: .9375rem;
    padding-left: .9375rem;
    color: #FFF;
    border-top-left-radius: .9375rem;
    border-top-right-radius: .9375rem;
}

.contenedorFormPago {
    background-color: #d1cfcf;
    padding-bottom: 1.25rem;
    border-bottom-left-radius: .9375rem;
    border-bottom-right-radius: .9375rem;

}

.inicioContacto {
    display: flex;
    justify-content: space-between;
}

.datosContacto {
    margin-top: .625rem;
    padding: .5rem;
    border-radius: .75rem;
    border-style: .0625rem solid rgb(160, 160, 160);
    width: 98%;
}

.datosEntrada {
    margin-top: .625rem;
    padding: .5rem;
    border-radius: .75rem;
    border-style: .0625rem solid rgb(160, 160, 160);
    width: 98%;
}

.datosEntradaMedio {
    margin-top: .625rem;
    padding: .5rem;
    border-radius: .75rem;
    border-style: .0625rem solid rgb(160, 160, 160);
    width: 48%;
}

.datosEnvioMundo {
    margin-top: .625rem;
    display: flex;
}

.casillasPago {
    margin-bottom: 1.25rem;
}

.datosPago {
    margin-top: .625rem;
    padding: .5rem;
    margin-left: .9375rem;
    border-radius: .75rem;
    border-style: none;
    width: 93%;
}

.fechaPago {
    display: flex;
}

.datosPagoM {
    margin-top: .625rem;
    padding: .5rem;
    margin-left: .9375rem;
    border-radius: .75rem;
    border-style: none;
    width: 44%;
}

.guia {
    font-size: 1.25rem;
    font-family: "Poppins", sans-serif;
    color: #1E1E1E;
}

.resumenProductosTelar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25rem;
}

.cuponResumen {
    display: flex;
    justify-content: space-between;
}

.datoCupon {
    width: 50%;
    padding: .5rem;
    border-radius: .75rem;
}

.datosCompraResumen {
    font-size: 10px;
    padding-top: .625rem;
    padding-left: 1.875rem;
}

.btnDatoCupon {
    width: 40%;
    padding: .5rem;
    border-radius: .75rem;
    background-color: #F33829;
    color: aliceblue;
    border-style: none;
}

.resumenMmonto {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    display: flex;
    justify-content: space-between;

}

.btnPagarTelar {
    width: 100%;
    padding: .625rem;
    border-radius: .75rem;
    background-color:#1E1E1E;
    color: aliceblue;
    border-style: none;
}

/*----------------pagina donde comprar--------------*/
/*-------------------------------------------------*/

.paginaVistita{
    display: block;
    padding: 3.125rem 15.625rem;
}
.visitasGuiadas{
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
}
.guiaMaestroTejedor{
    display: flex;
    padding: 1.5625rem;
}
.guiasMaestro{
    padding: 1.5625rem;
}