@mixin icon-size($width, $height) {
    width: $width;
    height: $height;
}

// Mixin para flexbox
@mixin flexbox($direction, $justify: flex-start, $align: stretch, $wrap: nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

// Mixin para padding
@mixin padding($padding) {
    padding: $padding;
}

// Mixin para margin
@mixin margin($margin) {
    margin: $margin;
}


///////////////////////////////////////////////
// mixin banner de cultura del telar
@mixin full-width-height {
    width: 100%;
    height: 100%;
}

@mixin center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/////////////////////////////////////////
/// banner dónde comprar

@mixin responsive-size($width-md, $height-md, $width-sm, $height-sm) {
    @media (max-width: 768px) {
        width: $width-md;
        height: $height-md;
    }

    @media (max-width: 480px) {
        width: $width-sm;
        height: $height-sm;
    }
}

//////////////////////////////////////////
///
/// Mixins visitanos

@mixin responsive-font-size($font-md, $font-sm) {
    @media (max-width: 768px) {
        font-size: $font-md;
    }

    @media (max-width: 400px) {
        font-size: $font-sm;
    }
}

@mixin responsive-padding($padding-md, $padding-sm) {
    @media (max-width: 768px) {
        padding: $padding-md;
    }

    @media (max-width: 400px) {
        padding: $padding-sm;
    }
}

//////////////////////////////////////////////
/// mixin de donde comprar
@mixin responsive-img-size($width-md, $width-sm) {
    @media (max-width: 768px) {
        width: $width-md;
        margin-top: 3.125rem;
    }

    @media (max-width: 400px) {
        width: $width-sm;
        margin-top: 3.125rem;
    }
}

@mixin responsive-grid {
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);

        .resumenCompra {
            grid-area: 1 / 1 / 2 / 2;
        }

        .contactoCompra {
            grid-area: 2 / 1 / 3 /2;
        }

        .entregaCompra {
            grid-area: 3 / 1 / 4 /2;
        }

        .pagoCompra {
            grid-area: 4 / 1 / 5 / 2;
        }
    }
}

@mixin responsive-block($selector, $display-block) {
    @media (max-width: 400px) {
        #{$selector} {
            display: $display-block;
        }
    }
}

@mixin grid-area-compra($row-start,
    $column-start,
    $row-end,
    $column-end) {
    grid-area: #{$row-start} / #{$column-start} / #{$row-end} / #{$column-end};
    display: block;
}


//////////////////////////////////////////////////
/// mixin telares
///
@mixin grid-area-telar($row-start, $col-start, $row-end, $col-end) {
    grid-area: #{$row-start} / #{$col-start} / #{$row-end} / #{$col-end};
}

@mixin imagen-telar {
    display: flex;
    justify-content: end;
    align-items: center;
}

@mixin isotipoAgua {
    display: flex;
    background-color: #333333;
    justify-content: end;
    padding: 3.125rem;
}

@mixin detalleProducto {
    border-left-style: dashed;
    border-color: $color_1;
    border-width: 4px;
    color: $color_3;
    display: block;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
}

@mixin significadoProducto {
    display: block;
    padding-left: 5.625rem;
    padding-right: 3.125rem;
    color: $color_3;
    margin-bottom: 3.125rem;
}

// Mixin para los estilos de la imagen
@mixin img-style($width: 100%, $height: auto) {
    width: $width;
    height: $height;
}

// Mixin para los botones
@mixin btn-style($padding: 0px 55px, $font-size: 1.5em, $bg-color: #F33829) {
    padding: $padding;
    font-size: $font-size;
    background-color: $bg-color;
    border-radius: .9375rem;
    color: $color_3;
    border-style: none;
    margin-top: 20px;
}

//////////////////////////////////////////////
/// cultura telar
@mixin imgTelarCultural {
    display: flex;
    justify-content: center;
    align-items: center;
}

/////////////////////////////////////////////////////
/// Home Origen
@mixin origen-max-width-1440 {
    @media (max-width: 1440px) {
        .tejidosOrigenDescripcion {
            padding: 150px 30px;
        }

        .origenTextHistory {
            h3 {
                font-size: 30px;
            }

            div {
                p {
                    color: $color_4;
                    font-size: 18px;
                }
            }

            .oImgTelar1 {
                @include grid-area-telar(2, 2, 3, 4)
            }

            .oImgTelar2 {
                @include grid-area-telar(6, 2, 7, 4)
            }

            .oImgTelar3 {
                @include grid-area-telar(10, 2, 11, 4)
            }

            .oImgTelar4 {
                @include grid-area-telar(14, 2, 15, 4)
            }
        }
    }
}

@mixin origen-max-width-768 {
    @media (max-width: 768px) {

        .origenDescripcionImagen {
            font-size: 1.875rem;
        }

        .tejidosOrigen img {
            width: 100%;
            height: 100%;
            border-radius: 25px;
            border: 5px solid $color_1;
        }

        .oImgTelar1 {
            @include grid-area-telar(2, 1, 3, 4)
        }

        .oImgTelar2 {
            @include grid-area-telar(6, 1, 7, 4)
        }

        .oImgTelar3 {
            @include grid-area-telar(10, 1, 11, 4)
        }

        .oImgTelar4 {
            @include grid-area-telar(14, 1, 15, 4)
        }

        .tejidosOrigenDescripcion {
            padding: 80px 30px;
            position: absolute;
            top: 15%;
            left: 12%;
            transform: translate(-7%, -10%);
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            background-color: rgba(0, 0, 0, 0.8);
        }

        .textOrigen {
            all: unset;
            align-self: center;
            justify-self: center;
            font-size: 3.125rem;
            color: $color_3;
            letter-spacing: 30px;
        }

        .textOrigen1 {
            @include grid-area-telar(4, 3, 5, 7)
        }

        .textOrigen2 {
            @include grid-area-telar(8, 3, 9, 7);
        }

        .textOrigen3 {
            @include grid-area-telar(12, 3, 13, 7);
        }

        .textOrigen4 {
            @include grid-area-telar(16, 3, 17, 7);
        }

        .origenTextHistory {
            padding: 20px;

            h3 {
                padding-top: 1.875rem;
                padding-bottom: 1.875rem;
                font-size: 1.875rem;
            }

            div {
                p {
                    font-size: 16px;
                }
            }
        }

        .origenTextHistory1 {
            @include grid-area-telar(2, 4, 4, 7)
        }

        .origenTextHistory2 {
            @include grid-area-telar(6, 4, 8, 7)
        }

        .origenTextHistory3 {
            @include grid-area-telar(10, 4, 12, 7)
        }

        .origenTextHistory4 {
            @include grid-area-telar(14, 4, 16, 7)
        }
    }

}



///////////////////////////////////////////////////////
/// Mejoras
@mixin gradiente-dos-colores($direcion, $colo1, $color2) {
    background-image: linear-gradient($direcion, $colo1, $color2);
}