$color_1: #F33829;
$color_2: #FF7751;
$color_3: #D9D9D9;
$color_4: #FFFFFF;
$color_5: #027381;
$color_6: #0EB9CB;
$color_7: #440B11;
$color_8: #726E6E;
$color_9: #1E1E1E;
$color_10: black;
$color_11: rgba(37, 31, 31, 0.5);
$font-family_1: "Poppins",sans-serif;
$font-family_2: "Ruslan Display",cursive;
$padding-large: 3.75rem;
$text-shadow-banner: 2px 2px 5px black;
