.vBienvenida {
    height: 500px;
    background-image: linear-gradient(to bottom, #000000, #393939, #737373, #b2b2b2, #f5f5f5);
}

.vTitulo {
    margin: 0rem 15.625rem;
    font-size: 3.75rem;
    padding: 3.125rem;
    color: $color_1;
}

.vPresentacion {
    width: 75%;
    margin: 0 auto;
    color: $color_1;
    color: $color_4;
    font-size: 1.375rem;
}

.vImgMarcoSI {
    @include grid-area-telar(1, 1, 3, 5)
}

.vImgMarcoSD {
    justify-self: end;
    /* Alineamos la imagen al final del eje principal (derecha) */
    align-self: end;
    /* Alineamos la imagen al final del eje cruzado (abajo) */
    @include grid-area-telar(2, 4, 3, 7);
}

.vImgMarcoMI1 {
    @include grid-area-telar(3, 1, 4, 2)
}

.vImgMarcoMI2 {
    align-self: center;

    @include grid-area-telar(4, 1, 5, 2)
}

.vImgMarcoMI3 {
    @include grid-area-telar(5, 1, 6, 2)
}

.vImgMarcoMD {
    justify-self: end;
    /* Alineamos la imagen al final del eje principal (derecha) */
    align-self: center;
    /* Alineamos la imagen al final del eje cruzado (centro) */
    @include grid-area-telar(3, 6, 6, 7)
}

.vImgMarcoII {
    @include grid-area-telar(6, 1, 7, 5)
}

.vImgMarcoID {
    justify-self: end;
    /* Alineamos la imagen al final del eje principal (derecha) */
    align-self: end;
    /* Alineamos la imagen al final del eje cruzado (abajo) */
    @include grid-area-telar(6, 5, 8, 7)
}

.visitasGuiadas {

    @include grid-area-telar(3, 2, 4, 6)
}

.guiaMaestroTejedor {
    display: flex;
    justify-content: space-between;
    /* Separa los elementos horizontalmente */
    align-items: center;
    /* Centra los elementos verticalmente */

}

.opcionesGuiadas {
    font-size: 2.5rem;
    padding-bottom: 1.875rem;
    color: $color_1;
}

.guiasMaestro {
    margin-left: 1.5625rem;
}

.maestroTejedor {
    width: 100%;
}

.telarRunaImg {
    @include grid-area-telar(4, 2, 5, 6)
}

.vMascara {
    @include grid-area-telar(4, 2, 5, 6);
    width: 50%;
    height: 100%;
    background-color: $color_1;
    clip-path: polygon(0% 0%,
            30% 0%,
            100% 80%,
            100% 100%,
            0% 100%);
}

.vDecorado {
    position: relative;
    @include grid-area-telar(4, 2, 5, 6);
    color: $color_4;
    text-align: left;
    padding: 6.25rem;
    align-self: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);

}

.vPuntos {
    font-size: 3.125rem;
}

.vAvisoTitle {
    font-size: 7.5rem;
    font-weight: bold;
}
.vList {
    list-style: none;
    font-size: 25px;
    padding: 0;
}
.RecorridoVisita{
    padding: 3.125rem 1.25rem 0rem 1.25rem;
    @include grid-area-telar(5, 2, 6, 6);
}

@include visitanos-max-width-1440;
@include visitanos-max-width-768;
@include visitanos-max-width-400;